<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "style.css" %}</style>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Test Sessions</title>
</head>
<body>
    <h1>WebFinger Test Matrix</h1>
    {% include "matrix-data.jinja2" %}
    {# {% include metadata.jinja2 %} #}
</body>
</html>

